<?xml version="1.0" encoding="utf-8" ?>
<module>
  
  <dojo>
    <paths>
      <!-- 
      Note that 'path' must point to the folder (relative to /ClientResources) in which the 'googlemaps' folder is placed.
      The following assumes the 'googlemaps' folder is located at /ClientResources/Scripts/googlemaps in the site root.
      -->
      <add name="tedgustaf" path="Scripts" />
      
    </paths>
  </dojo>
 
</module>
